body {
    background-image: url("/src/img/1c.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: aqua;
    display: grid;
    place-items: center;
  }

  form {
    display: grid;
    place-items: center;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    padding: 15px;
  }