body {
    background-image: url("/src/img/1c.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
  }


form {
    display: grid;
    place-items: center;
}