body {
  background-image: url("/src/img/1c.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  
  
}

#blog-feed {
  margin-left: 10%;
  margin-right: 10%;
  /* border: 1px solid white; */
}

section {
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
}

img {
  max-width: 200px;
}

.change-password-button-container {
  display: grid;
  place-items: center;
}

.change-password-button {
  font-size: 25px;
}


/* Hamburger menu */

.navbar {
  /* background-color: #333; */
  padding: 5px;
  display: flex;
}

.hamburger {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: inline;
}

.menu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  background-color: #333;
  padding: 5px 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu li:hover {
  background-color: #444;
}