body {
  background-image: url("/src/img/1c.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.title-container {
  display: grid;
  place-items: center;
}

h1 {
  font-size: 32px;
}

.form-container {
  margin-top: 5%;
  display: grid;
  place-items: center;
}

form {
  border: 1px white solid;
  border-radius: 30px;
  padding: 15px;
}

input {
  border-radius: 30px;
  width: 100%;
  font-size: 24px;
  padding-left: 8px;
  margin-right: 80px;
}

.button-container {
  padding-top: 10px;
  display: grid;
  place-items: center;
}
