body {
    background-image: url("/src/img/11.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
color: white;    

}

.form-container {
margin-top: 20%;
display: grid;
place-items: center;
}

